<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>쇼핑몰</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" href="../../static/css/header.css" />
  </head>
  <body>
    <header th:fragment="header()">
      <div class="header-d">
        <div class="header-title">
          <h4>
            <a th:href="@{/}"><strong>아이템박스!</strong></a>
          </h4>
        </div>
        <div class="header-menu-wrap">
          <div style="display: inline-block">
            <label id="menu-toggle" for="header-checkbox"></label>
          </div>
          <input type="checkbox" id="header-checkbox" />
        </div>
      </div>
      <div class="header-m"></div>

      <div class="overlay" id="header-overlay">
        <nav class="header-menu" id="header-menu" name="header-menu">
          <label for="header-checkbox"></label>
          <article class="items-wrap">
            <p class="items-cate"><span></span><span>맵</span></p>
            <ul class="items list-group">
              <li>
                <a
                  th:href="@{/map/food/{region}(region='서울')}"
                  class="nav-link link-item"
                  >지역음식</a
                >
              </li>
            </ul>
          </article>
          <article class="items-wrap">
            <p class="items-cate"><span></span><span>AI</span></p>
            <ul class="items list-group">
              <li>
                <a href="" class="nav-link link-item">-</a>
              </li>
            </ul>
          </article>
          <article class="items-wrap">
            <p class="items-cate"><span></span><span>DATA</span></p>
            <ul class="items list-group">
              <li>
                <a href="" class="nav-link link-item">-</a>
              </li>
            </ul>
          </article>
          <article class="items-wrap">
            <p class="items-cate"><span></span><span>유희거리</span></p>
            <ul class="items list-group">
              <li>
                <a th:href="@{/quotes/random}" class="nav-link link-item"
                  >랜덤명언</a
                >
              </li>
            </ul>
          </article>
        </nav>
      </div>

      <script>
        const checkbox = document.getElementById("header-checkbox");
        const image_label = document.querySelector(
          ".header-menu-wrap > div > label"
        );
        const menu_overlay = document.getElementById("header-overlay");
        const body = document.querySelector("body");

        checkbox.addEventListener("change", function () {
          if (checkbox.checked) {
            // 체크박스가 선택되면 이미지를 변경
            menu_overlay.style.display = "block";
            image_label.style.display = "none";
          } else {
            menu_overlay.style.display = "none";
            setTimeout(() => {
              image_label.style.display = "block";
            }, 500);
          }
        });
      </script>
    </header>
  </body>
</html>
