/* 데스트캅용 헤더 */
.header-d {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
}
/* left title */
.header-title {
  margin-left: 32px;
}
.header-title > h4 > strong {
  font-weight: 900;
  font-size: 40px;
  line-height: 100px;
}

.header-menu-wrap {
  width: 360px;
  text-align: right;
}

.header-menu-wrap > div > label {
  width: 100px;
  height: 100px;
  background-image: url("https://img.icons8.com/ios/50/menu--v7.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

#header-checkbox {
  display: none;
}

#header-checkbox:checked + #header-menu {
  display: block;
  position: absolute;
  top: 100px;
  z-index: 1px;
  border-left: 2px solid black;
}

#header-menu {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 360px;
  height: 100%;
  background-color: var(--gray-background);
}

.items-wrap > p {
  font-weight: 700;
  font-size: 16px;
  margin: 0px 4px;
  padding: 4px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: left;
}

.items-cate > span:nth-of-type(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  vertical-align: -5%;
  border: 1px solid black;
}
.items-cate > span:nth-of-type(2) {
  font-weight: 700;
  font-size: 16px;
}

.header-m {
  display: none;
}

a.link-item {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.items > li:hover {
  background-color: black;
}

.items > li:hover a.link-item {
  color: white;
}
