/* css 변수선언 */
:root {
  --gray-background: #ece8e2;
  --gray-area: rgba(0, 0, 0, 0.5);
  --gray-button: #888888;
  --black-default: #222222;
  --white-default: #ffffff;
  --blue-select: #528af4;
  --green-map: #2e951d;
  --orange-shop: #fa9338;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--black-default);
  font-style: normal;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  letter-spacing: -0.4px;
}
body {
  background: var(--gray-background);
}
main {
  height: 500px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
